@import "tailwindcss";
@import "tw-animate-css";
@plugin '@tailwindcss/typography';

:root {
  --background: #f5f5f5;
  --foreground: #000000;
  --foreground-muted: #6a7282;
  --primary: #000000;
  --primary-foreground: #ffffff;
  --card: #ffffff;
  --border: #e6e6e6;
  --secondary: #ededed;
  --font-geist-sans: "Geist", sans-serif;
  --font-geist-mono: "Geist Mono", monospace;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-foreground-muted: var(--foreground-muted);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-card: var(--card);
  --color-border: var(--border);
  --color-secondary: var(--secondary);
  --font-title: var(--font-inter);
  --font-body: var(--font-manrope);
}




@layer base {
  body {
    @apply bg-background text-foreground;
  }
  h1,h2,h3,h4,h5,h6 {
    @apply font-title break-all md:break-normal;
  }
  a{
    @apply font-body font-medium;
  }
  p {
      @apply font-body font-normal;
  }
  a{
    @apply text-base font-body font-semibold underline-offset-4 hover:underline ;
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@layer components{
  .main{
    @apply max-w-7xl mx-auto px-4  pt-14 md:pt-4 min-h-[calc(100vh-110px)] ;
  }
}